@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('http://fonts.cdnfonts.com/css/gill-sans-extrabolddisplay');

body {
  color: #fff;
  background-color: #4369b2;
}

.card {
  color: #fff;
  background-color: #4b71b9;
  opacity: 0.7;
}

.card:hover {
  opacity: 0.3;
}

.card:nth-child(4n + 2),
.card:nth-child(4n + 3) {
  background-color: #668dd4;
  z-index: 2;
}

.btn {
  background: none;
  border: none;
}

.img {
  opacity: 0.6;
  margin-top: 5%;
  width: 100%;
}

.region {
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  align-items: center;
  justify-content: center;
}

.regionName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.title {
  background-color: #5888e4;
  font-family: 'Gill Sans ExtraBoldDisplay', sans-serif;
}

.details_page,
.country {
  color: #fff;
  font-family: 'Lato', sans-serif;
}

.banner_details {
  padding: 24px;
  display: flex;
  gap: 30px;
  text-align: end;
}

.details_page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #fff;
}

.country {
  display: flex;
  flex-direction: column;
}

.arrow {
  display: flex;
  float: right;
  justify-content: flex-end;
}
